div {

}
td {
  width: 200px;
  height: 200px;

}

.red{
  background-color: red;
border-top-left-radius: 100%;
text-align: center;
}


.blue{
  background-color: Blue;
  border-bottom-left-radius: 100%;
  text-align: center;
}


.green{
  background-color: Green;
    border-bottom-right-radius: 100%;
    text-align: center;
}


.yellow{
  background-color: Yellow;
    border-top-right-radius: 100%;
    text-align: center;
}
